.list-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.coin-image{
  width: 3rem;
  height: auto;
}
.list-row:hover {
  background-color: var(--darkgrey);
  transition: all 0.3s;
}

.list-row td {
  width: 18%;
}
/* .coin-name-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.td-img {
  width: min-content !important;
}
.info-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.list-in-green-star{
  color: var(--green);
}
.list-in-red-star{
  color:var(--red);
}
.mobile-td-cap,
.mobile-price {
  display: none;
}
.list-in-red{
  color:var(--red);
  border-color: var(--red);
}
.list-in-green{
  color:var(--green);
  border-color: var(--green);
}
.list-in-green:hover{
  background-color: rgb(55, 249, 55)!important;
  color: var(--white)!important;
  transition: all .3s;
}
.list-in-red:hover{
  background-color: rgb(255, 94, 94)!important;
  color: var(--white)!important;
  transition: all .3s;
}
@media only screen and (max-width: 1000px) {
  .td-img img {
    width: 2rem !important;
    height: 2rem !important;
  }

  .price-chip-list {
    min-width: 2rem !important;
    font-size: 0.6rem !important;
    border-width: 2px !important;
    padding: 0.25rem 0.5rem !important;
  }
  .trending-icon-list {
    display: none !important;
  }
}
@media only screen and (max-width: 800px) {
  .td-img {
    margin-right: 0.5rem;
  }
  .list-row {
    margin-top: 1rem;
    width: 100%;
    gap: 0rem !important;
    padding: 0rem;
  }
  .td-mkt-cap,
  .desktop-price {
    display: none !important;
  }
  .mobile-td-cap,
  .mobile-price {
    display: block;
  }

  .coin-price-list {
    font-size: 0.8rem !important;
    margin-right: 0.5rem;
  }
  .coin-symbol-list,
  .coin-name-list,
  .coin-total_volume-list {
    font-size: 80% !important;
  }
}

@media only screen and (max-width: 400px) {
  .td-price-chip-list {
    display: none;
  }
}
